@import 'tailwindcss';

@source "../index.html";
@source "./**/*.{vue,js,ts,jsx,tsx}";
@source "../node_modules/vue-wswg-editor/src/**/*.{vue,js,ts,jsx,tsx}";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
